apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
patches:
  - target:
      kind: CronJob
      name: shodan-collector
    patch: |-
      - op: replace
        path: /spec/schedule
        value: "0 */12 * * *"
