apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      kind: PersistentVolumeClaim
      name: apex-forge-postgres-pvc
    patch: |-
      - op: replace
        path: /spec/resources/requests/storage
        value: 10Gi
