shodan_api_key = {{ threatmap_shodan_api_key }}
abuseipdb_api_key = {{ threatmap_abuseipdb_api_key }}
otx_api_key = {{ threatmap_otx_api_key }}
maxmind_license_key = {{ threatmap_maxmind_license_key }}
maxmind_account_id = {{ threatmap_maxmind_account_id }}
