apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: ghcr.io/marmila/apex-forge
    newTag: 12.0.8

configMapGenerator:
  - name: apexforge-config
    behavior: merge
    literals:
      - INTERVAL_SECONDS=864000
      - LOG_LEVEL=INFO
