apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: ghcr.io/marmila/apex-forge
    newTag: 3.0.5
  - name: ghcr.io/marmila/shodan-intel-sentinel
    newName: ghcr.io/marmila/apex-forge
    newTag: 3.0.5

configMapGenerator:
  - name: shodan-config
    behavior: merge
    literals:
      - INTERVAL_SECONDS=864000
      - LOG_LEVEL=INFO

  - name: shodan-profiles
    behavior: create
    files:
      - profiles.yaml




