apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: ghcr.io/marmila/shodan-intel-sentinel
    newTag: 2.0.4

configMapGenerator:
  - name: shodan-config
    behavior: merge
    literals:
      - INTERVAL_SECONDS=864000
      - LOG_LEVEL=INFO

  - name: shodan-profiles
    files:
      - profiles.yaml




