apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

configMapGenerator:
  - name: shodan-monitor-overlay-values
    behavior: merge
    files:
      - overlay-values.yaml

