apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: shodan-monitor

resources:
  - ../../base

configMapGenerator:
  - name: shodan-monitor-overlay-values
    files:
      - overlay-values.yaml