apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: ghcr.io/marmila/shodan-sec-monitor
    newTag: v1.2.8

configMapGenerator:
  - name: shodan-config
    behavior: merge
    literals:
      - TARGETS=8.8.8.8,1.1.1.1,9.9.9.9
      - INTERVAL_SECONDS=600
      - REQUEST_DELAY=1.0


