apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: apexforge-backup-pvc
  namespace: shodan-monitor
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: longhorn
  resources:
    requests:
      storage: 20Gi
