apiVersion: batch/v1
kind: Job
metadata:
  name: shodan-db-init
  namespace: shodan-monitor
spec:
  template:
    spec:
      initContainers:
        - name: wait-for-dbs
          image: busybox:1.28
          command:
            - /bin/sh
            - -c
            - |
              until nslookup shodan-postgres; do echo "waiting for postgres dns..."; sleep 2; done
              until nslookup shodan-mongo-svc; do echo "waiting for mongo dns..."; sleep 2; done
      containers:
        - name: db-init
          image: ghcr.io/marmila/apex-forge:3.0.1
          command: ["python", "-c"]
          args:
            - |
              from shodan_monitor.db import init_databases
              import logging
              logging.basicConfig(level=logging.INFO)
              init_databases()
          env:
            - name: MONGO_USER
              valueFrom:
                secretKeyRef:
                  name: shodan-mongo-credentials
                  key: MONGO_USER
            - name: MONGO_PASS
              valueFrom:
                secretKeyRef:
                  name: shodan-mongo-credentials
                  key: MONGO_PASS
            - name: MONGO_URI
              value: "mongodb://$(MONGO_USER):$(MONGO_PASS)@shodan-mongo-svc:27017/shodan_intel?authSource=admin"
            - name: DB_HOST
              value: shodan-postgres
            - name: DB_NAME
              value: shodan
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: shodan-db-credentials
                  key: DB_USER
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: shodan-db-credentials
                  key: DB_PASS
      restartPolicy: OnFailure