apiVersion: mongodbcommunity.mongodb.com/v1
kind: MongoDBCommunity
metadata:
  name: shodan-mongo
  namespace: shodan-monitor
spec:
  members: 1
  type: ReplicaSet
  version: "6.0.5"
  security:
    authentication:
      modes: ["SCRAM"]
  users:
    - name: admin
      db: admin
      passwordSecretRef:
        name: shodan-mongo-credentials
      roles:
        - name: clusterAdmin
          db: admin
        - name: userAdminAnyDatabase
          db: admin
      scramCredentialsSecretName: shodan-mongo-users-scram
  statefulSet:
    spec:
      template:
        spec:
          securityContext:
            fsGroup: 999
            runAsUser: 999
            runAsNonRoot: true
          containers:
            - name: mongod
              securityContext:
                allowPrivilegeEscalation: false
                readOnlyRootFilesystem: false
      volumeClaimTemplates:
        - metadata:
            name: data-volume
          spec:
            accessModes: [ "ReadWriteOnce" ]
            storageClassName: longhorn
            resources:
              requests:
                storage: 20Gi