#cloud-config
autoinstall:
  version: 1
  keyboard:
    layout: it
  ssh:
    allow-pw: false
    install-server: true
  network:
    {{ hostvars[x86_host].autoinstall.network | to_nice_yaml | indent(4) }}
  storage:
    {{ hostvars[x86_host].autoinstall.storage | to_nice_yaml | indent(4) }}

  user-data:
    # Set TimeZone and Locale
    timezone: Europe/Rome
    locale: en_EN.UTF-8

    # Hostname
    hostname: {{ x86_host }}

    # cloud-init not managing hosts file. only hostname is added
    manage_etc_hosts: localhost

    users:
      - name: marmila
        primary_group: users
        groups: [adm, admin]
        shell: /bin/bash
        sudo: ALL=(ALL) NOPASSWD:ALL
        lock_passwd: true
        ssh_authorized_keys:
          - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCWqOhITGB6+xNLMPb2OaX/OAD8kqEB0WtX0NL6syzGyfwQYXePwLT/TbZRNg0fFE1elZoixejDDGQNPqRhSiTQslXTEqhJQJqZUZs2bsCVCqupQeeNV4x5owAkhingf2j5RnzWB4PL2S6nVLCKgGdzIK9lAMtndnJkcZSApSUy0O/a9+SfxIJsfCB3OXG5uIA2zyVefBVKL4/NkXJmN7UfLJlP+XV85XYpyw+9krbdanJxuYEAE25zRulsfOXYz0IMJ8vQNRYzk5P7C06SwygsVoHFEQcdD5dUKhbSuvNIeo57oLv9iZGeSdLQmEiHRKNjRkwdKbKf/0yohUGa9bqr marmila@node-esp-1
          - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDN93wD7peNaqkO3qxbMDYnr8PJg0nUh8Uen60LkocCEZR5JiPIFrmWpJZUP+inMyyWLBGZnYXnyTGqCthhs1GF+pjbZnvo2+V8ka3Jo99G1Wcz042GlPtpufmxZTPDnRAju3ATp24PRRlXun7M12rcj+RxadBxqlsyEMPNMMwbGlQ7wCL9bQfD11j9QIq5sXtKqNIt9Y9YXdrcTGCnhOPNWATJoIG98n2YhgxetMMZuuWCaTqr+jkTuZA4VZ88crGOPuRdKpm/JCsPha0ynQIQS5DnUuc1FV5OcLMZROWHEaBSuT0A2PrzPbeWfw8BRk5KugDNjaT3kZrf5yLycZfzxJu1g+g54DBFeKPzf/pJJRqQiR40Iwt3ZwK0gOAXmyzFkTKfxkg3MHDxmjh17ijAcYVqlFNMPoOabm/N2Kwkqso/B+V/Rmgw4kmGXsgbZklBaqfVR12hQ4LPBnK7pZ/Nwo51VjfYWCKElyCLlWr8379C3XQi8leUn5GARdSg/38= runner@d28e295fc7c4

